body{
    background-image:url("images/paper.png");
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    border:3px white solid;
    background-color: ivory;   
}
header{
    border:3px white solid;
    text-align: right;
    background-color: rgb(216 216 225);
    padding-right: 10px;
}
h1+h2{
    border:3px rgb(216 216 225) solid;
}
.diary{
    border:3px rgb(216 216 225) solid;
    background-color: rgb(236 236 245);
    padding: 15px;
    margin-top: 10px;
    overflow-x: auto;
}
.diary img{
    float: right;
}
span{
    font-style: italic;
    color: slategrey;
}
p{
    border:1px white solid;
    border:0px;
}
.footer{
    text-align: center;
}